#readme {
	text-align: center;
	color: white;
	float: left;
	width: 75%;
}

#right {
	float: right;
	width: 20%;
	overflow: hidden;
}
#right > ul {
	position: relative;
	right: 0px;
}

#links {
	list-style: none;
	padding-bottom: 25%;
}
#links li {
	height: 24px;
}

body {
	background-color: #6e0212;
	margin: 0px;
	padding: 0px;
}

#readme h1 {
	font-style: italic;
}

pre {
	color: #bcbbba;
}

a {
	color: #adebec;
}

img {
	border: 0px;
	padding-right: 4px;
}

#buttons {
	list-style: none;
	margin-bottom: 2em;
}
#buttons li {
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}

html > body > div > div#right > div > div a {
	color: rgb(107, 141, 207);
}

html > body > div > div#right > div > div {
	width: 20em;
}
