#readme {
	text-align: center;
	color: white;
	float: left;
	width: 75%;
}

#right {
	float: right;
}

#links {
	list-style: none;
	padding-bottom: 25%;
}
#links li {
	height: 24px;
}

body {
	background-color: #6e0212;
	margin: 0px;
	padding: 0px;
}

#readme h1 {
	font-style: italic;
}

pre {
	color: #bcbbba;
}

a {
	color: #adebec;
}

img {
	border: 0px;
	padding-right: 4px;
}

#buttons {
	list-style: none;
}
#buttons li {
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}
